.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: $darkColor;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

header h1 {
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

header h2 {
  color: white;
  font-size: 16px;
  margin: 2px;
}

nav {
  background-color: $darkNavColor;
  border-right: 1px solid #e5f3e5;
  float: left;
  font-size: 14px;
  height: 100%;
  width: 225px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  color: black;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px 30px 15px 15px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav li:hover {
  background-color: $hoverColor;
}

nav li.active {
  background-color: $activeColor;
}

nav li.new {
  padding-bottom: 10px;
}

nav li:after {
  content: '';
  height: 20px;
  position: absolute;
  right: 25px;
  top: 23px;
  transform: rotate(-45deg);
  transition-duration: 0.2s;
  width: 20px;
}

nav li:hover:after {
  right: 20px;
}

nav li.active:after {
  right: 15px;
}

nav li.new:after {
  background:
    linear-gradient($plusColor, $plusColor),
    linear-gradient($plusColor, $plusColor),
    #0000;
  background-position:center;
  background-size: 100% 2px, 2px 100%;
  background-repeat:no-repeat;
  border: none;
  padding: 0;
  right: 18px;
  transform: rotate(0deg);
  top: 13px;
}

nav h3 {
  font-size: 16px;
  margin: 4px 0;
}

nav.sportlist {
  background-color: $lightNavColor;
  border-right: 1px solid #e5e5e5;
  font-size: 12px;
  width: 200px;
}

nav.sportlist li:after {
  height: 15px;
  right: 20px;
  top: 23px;
  width: 15px;
}

nav.sportlist li:hover:after {
  right: 16px;
}

nav.sportlist li.active:after {
  right: 12px;
}

nav.sportlist li.new:after {
  right: 15px;
  top: 15px;
}

nav.sportlist h3 {
  font-size: 14px;
}

main {
  float: left;
  padding: 0px 25px;
  max-width: 450px;
}

main label {
  color: #444;
  display: block;
}

main input,
main textarea,
main button {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  margin: 2px 0 15px;
  padding: 8px;
  width: 250px;
}

main button {
  cursor: pointer;
}

main input[type=checkbox], main input[type=radio] {
  display: inline;
  margin: 0;
  margin-right: 4px;
  width: auto;
}

main ul {
  columns: 2;
  list-style: none;
  margin: 5px;
  margin-bottom: 15px;
  padding: 0;
}

main ul label {
  display: inline;
}

.delete {
  background-color: #f44336;
  border: 2px solid #f44336;
  color: white;
  opacity: 0.9;
}

.download {
  background-color: #2196F3;
  border: 2px solid #2196F3;
  color: white;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.user {
  background-color: #fafafa;
  border: 1px solid #aaa;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: -1px;
  padding: 8px;
}

.user:first-child {
  margin-top: 3px;
  border-radius: 2px 2px 0 0;
}

.user:last-child {
  border-radius: 0 0 2px 2px;
}

.user:nth-child(2n) {
  background-color: #f6f6f6;
}

.user button {
  background: none;
  border: none;
  color: #f44336;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;
  opacity: 0.9;
}

.user button:hover {
  opacity: 1;
}

.error {
  color: #C22;
}

.disconnected {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.disconnected div {
  background-color: white;
  box-shadow: 0 2px 20px 5px black;
  margin-bottom: 50px;
  padding: 30px 50px 45px;
}

.progress__box {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.progress__box .container {
  background-color: white;
  box-shadow: 0 2px 20px 5px black;
  margin-bottom: 50px;
}

.progress__box .title {
  background-color: $darkColor;
  border-bottom: 1px solid #e5e5e5;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 75px;
  text-transform: uppercase;
}

.progress__box svg {
  margin: 15px;
}

.progress__box .progress {
  font-size: 22px;
  position: absolute;
  left: 0;
  right: 0;
}

.progress__box p {
  margin: 0 0 20px;
}